$pc: 1281px;
$tab-end: 1280px;
$tab: 768px;
$sp-end: 767px;
$sp: 0px;

@mixin pc {
	@media screen and (min-width: ($pc)) {
		@content
	}
}

@mixin tab {
	@media screen and (min-width: ($tab)) and (max-width: ($tab-end)) {
		@content
	}
}

@mixin sp {
	@media screen and (min-width: ($sp)) and (max-width: ($sp-end)) {
		@content
	}
}

div.img {
	position: relative;
	overflow: hidden;
}

/*--------------------------------------------------
            PC
--------------------------------------------------*/
@include pc {
	body h2 {
		font-family: Meiryo;
		font-weight: normal;
		font-size: 20px;
		line-height: 20px;
		text-align: center;
		color: #000;

	}

	body p {
		font-family: Meiryo;
		font-weight: normal;
		font-size: 16px;
		line-height: 32px;
		text-align: left;
		color: #000;

	}

	body .sp {
		display: none !important;
	}

	dd.category {
		width: auto;
		height: 25px;
		padding: 0 10px;
		background: #ffa7a7;
	}

	p#Contact-alt {
		text-align: center;
		margin-bottom: 50px;
	}

	div.bg {
		position: fixed;
		width: 100%;
		height: 100lvh;
		background: linear-gradient(-135deg, #1717e6, #00004d);
		z-index: -1;

		/*============================ #particles-js ============================*/
	}

	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		width: 90%;
		max-width: 1300px;
		margin: 0 auto;

		header {
			width: 100%;

			div.slider {
				position: relative;
				width: 100%;
					div.img {
						width: 100%;
						max-width: 1300px;
						aspect-ratio: 16/9;
						img {
							display: block;
							position: absolute;
							top: 50%;
							width: 100%;
							height: auto;
							transform: translateY(-50%);
						}
					}
			}

			nav {
				width: 100%;
				height: 85px;
				margin: 0 auto;

				ul {
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: normal;
					margin: 0 auto;

					li {

						a {
							font-family: Meiryo;
							font-weight: normal;
							line-height: 85px;
							font-size: 20px;
							text-align: center;
							color: #fff;
							margin: 0 50px;
						}
					}
				}
			}

			div#Hum-menu {
				display: none;
			}
		}

		/*============================ #News ============================*/
		div#News {
			width: 100%;
			height: auto;
			background: rgba(255, 255, 255, 0.65);
			margin: 0 auto;
			padding: 1px;
			padding-bottom: 60px;
			margin: 0 0 60px;

			h2 {
				margin: 35px auto 25px;
			}

			div {
				width: 75%;
				max-width: 700px;
				height: auto;
				margin: 0 auto;

				dl {
					display: flex;
					flex-wrap: nowrap;
					justify-content: center;
					align-items: center;
					width: 100%;
					height: 60px;
					width: 700px;
					border-top: 1px solid #707070;

					&:nth-last-of-type(1) {
						border-bottom: 1px solid #707070;
					}

					a {
						width: 100%;
						height: 100%;
						display: flex;
						align-items: center;

						dd.dd1 {
							font-family: Meiryo;
							font-weight: normal;
							font-size: 16px;
							text-align: center;
							color: #000;
						}

						dd.category {
							margin: 0 10px;
						}

						dt {
							font-family: Meiryo;
							font-weight: normal;
							font-size: 16px;
							text-align: center;
							color: #000;

						}
					}
				}
			}
		}

		/*============================ #achive-news ============================*/
		div#achive-news {
			width: 100%;
			height: auto;
			margin: 0 auto;

			h2 {
				padding: 40px 0 10px;
			}

			p {
				height: auto;
				margin: 0 auto 10px;
				text-align: center;
			}

			a {
				color: black;

				&:visited {
					color: black;
				}
			}

			#all-category {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				margin: 20px 0;

				dd {
					display: inline-block;
					margin: 0 5px;
				}
			}

			dl {
				width: 100%;
				height: 160px;
				background: rgba(255, 255, 255, 0.65);
				margin-bottom: 20px;

				a {
					width: 100%;
					height: 100%;
					display: flex;
					flex-wrap: nowrap;

					div.news-img {
						display: flex;
						align-items: center;
						width: 30%;
						height: 100%;

						img {
							display: block;
							width: 100%;
							height: auto;
						}
					}

					div.news-container {
						display: flex;
						flex-wrap: wrap;
						align-content: space-between;
						width: 64%;
						margin: 3% auto;

						dt {
							width: 100%;
							height: auto;
						}

						div {
							display: flex;
							flex-wrap: nowrap;
							align-items: center;
							width: 140px;
							margin: 0;
							height: 25px;
							margin-left: 20px;

							img.time-img {
								display: block;
								width: 16px;
								height: 16px;
								margin-right: 7px;
							}
						}
					}
				}
			}

			/*============================ #Page-controll ============================*/
			div#Page-controll {
				width: 700px;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				margin: 30px auto 50px;
			}
		}


		/*============================ #Single ============================*/
		div#Single {
			width: 100%;
			height: auto;
			background: #fff;
			margin: 75px auto 0;
			padding: 50px;

			/*============================ .Thumbnail ============================*/
			div.Thumbnail {
				width: 100%;
				height: auto;
				background-size: cover;
				background-position: center;
				margin: 50px auto 15px;
			}

			img {
				display: block;
				width: 100%;
				height: 100%;
				margin: 50px auto 15px;
			}

			/*============================ #Single-title ============================*/
			h1#Single-title {
				width: 100%;
				font-family: Meiryo;
				font-weight: normal;
				font-size: 24px;
				line-height: 32px;
				text-align: center;
				color: #000;
				margin: 15px auto;
			}

			dl {
				display: flex;
				flex-wrap: nowrap;
				width: 600px;
				height: auto;
				margin: 15px auto;

				dd.category {
					margin-right: 20px;
				}

			}

			h2 {
				width: 100%;
				height: auto;
				font-family: Meiryo;
				font-weight: normal;
				font-size: 20px;
				text-align: center;
				color: #000;
				padding: 40px 0 10px;

			}

			p {
				width: 100%;
				font-family: Meiryo;
				font-weight: normal;
				font-size: 16px;
				line-height: 32px;
				text-align: left;
				color: #000;
				padding: 5px 0 5px;
			}

			a {
				display: block;
				width: 100%;
				font-family: Meiryo;
				font-weight: normal;
				font-size: 16px;
				line-height: 32px;
				text-align: left;
				color: #000;
			}

			h3 {
				width: 100%;
				height: auto;
				font-family: Meiryo;
				font-weight: normal;
				font-size: 18px;
				text-align: center;
				color: #000;
				padding: 40px 0 10px;
			}

			/*============================ #Page-controll ============================*/

			div#Page-controll {
				width: 240px;
				display: flex;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-items: center;
				margin: 30px auto 0;

				/*============================ #Prev-page及び#Next-page ============================*/
				a#Prev-page,
				a#Next-page {
					display: block;
					width: 100px;
					height: 30px;
					font-family: Meiryo;
					font-weight: normal;
					font-size: 14px;
					line-height: 30px;
					text-align: center;
					color: #000;
					background: #fff;
					border: 1px solid #707070;
				}
			}
		}

		.main-container {
			width: 100%;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;

			main {
				width: 65%;
				height: auto;
				margin: 0;

				/*============================ #Content ============================*/
				div#Content {
					width: 100%;
					max-width: 850px;
					background: rgba(255, 255, 255, 0.65);
					margin: 0;
					padding: 30px 60px;

					/*============================ #Welcom ============================*/
					div#Welcom {
						width: 100%;
						height: auto;

						h2 {
							padding: 30px 0 30px;
						}

						div {
							display: flex;
							align-items: center;
							width: 100%;

							img {
								display: block;
								width: 50%;
								height: auto;
								margin: 0;
							}

							p {
								width: 50%;
								padding-left: 35px;
							}
						}
					}

					/*============================ #Business ============================*/
					div#Business {
						width: 100%;
						height: auto;
						margin: 0 auto;

						h2 {
							padding: 60px 0 30px;
						}

						ul {
							display: flex;
							justify-content: space-between;

							li {
								width: 30%;
								height: 430px;
								list-style: none;
								background: #fff;
								box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.16);

								img {
									display: block;
									width: 100px;
									height: 100px;
									margin: 25px auto;
								}


								h3 {
									text-align: center;
									margin: 20px auto 20px
								}

								p {
									width: 160px;
									margin: 0 auto;
								}

							}
						}
					}

					/*============================ #Achievement ============================*/
					div#Achievement {
						display: flex;
						flex-wrap: wrap;
						width: 100%;
						margin: 0 auto;

						h2 {
							width: 100%;
							padding: 60px 0 30px;
							order: 1;
						}

						img {
							display: block;
							width: 50%;
							height: auto;
							order: 3;
						}

						div {
							display: flex;
							flex-wrap: wrap;
							align-content: center;
							width: 50%;
							height: auto;
							order: 2;

							a {
								display: block;
								width: 60px;
								height: 28px;
								background-color: #fff;
								box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
								font-family: Meiryo;
								font-weight: normal;
								font-size: 14px;
								line-height: 28px;
								text-align: center;
								color: #000;
								margin: 10px auto 0;
							}
						}
					}

					/*============================ #Activity ============================*/
					div#Activity {
						display: flex;
						flex-wrap: wrap;
						width: 100%;
						margin: 0 auto;

						h2 {
							width: 100%;
							padding: 60px 0 30px;
							order: 1;
						}

						img {
							display: block;
							width: 50%;
							height: auto;
							order: 2;
						}

						div {
							display: flex;
							flex-wrap: wrap;
							align-content: center;
							width: 50%;
							height: auto;
							order: 3;

							a {
								display: block;
								width: 60px;
								height: 28px;
								background-color: #fff;
								box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
								font-family: Meiryo;
								font-weight: normal;
								font-size: 14px;
								line-height: 28px;
								text-align: center;
								color: #000;
								margin: 10px auto 0;


							}
						}
					}

					/*============================ #Contact ============================*/
					div#Contact {
						h2 {
							padding: 60px 0 30px;
						}

						p#Contact-alt {
							text-align: center;
							padding-bottom: 30px;
						}

						form {
							width: 100%;
							height: auto;
							margin: 0 auto;

							label {
								display: flex;
								flex-wrap: nowrap;
								align-items: center;
								justify-content: space-between;
								width: 100%;
								height: 70px;
								width: 100%;
								border-top: 1px solid #707070;
								padding: 0 30px;

								&:nth-last-of-type(1) {
									align-items: normal;
									height: 180px;
								}

								h3 {
									width: 260px;
									font-family: Meiryo;
									font-weight: normal;
									font-size: 16px;
									line-height: 40px;
									text-align: left;
									color: #000;
								}

								input {
									width: 400px;
									height: 40px;
									background: rgba(255, 255, 255, 0.65);
									border: 1px solid #707070;
									margin: 15px 0;
								}

								h3 {
									width: 400px;
									height: 40px;
									margin: 15px 0;
									text-align: left;
								}

								textarea {
									width: 400px;
									height: 150px;
									background: rgba(255, 255, 255, 0.65);
									border: 1px solid #707070;
									margin: 15px 0;
								}
							}

							button {
								display: block;
								width: 60px;
								height: 28px;
								background: rgba(255, 255, 255, 0.65);
								box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
								margin: 30px auto;
							}
						}
					}
				}
			}

			/*============================ #SideNav ============================*/
			div#SideNav {
				position: sticky;
				top: 0;
				width: 30%;
				max-width: 400px;
				height: auto;
				background: rgba(255, 255, 255, 0.65);
				margin: 0;
				padding: 30px;

				h2 {
					padding: 30px 0 30px;
				}

				img {
					display: block;
					width: 200px;
					height: 200px;
					margin: 0 auto;
				}

				/*============================ #Profile ============================*/
				div#Profile {
					width: 100%;
					margin: 45px auto 0;

					dl {
						display: flex;
						flex-wrap: nowrap;
						width: 90%;
						margin: 0 auto;
						padding: 7px 0;

						dt {
							width: 64px;
						}

					}
				}

				div {
					height: auto;
					margin: 0 auto;

					h3 {
						font-family: Meiryo;
						font-weight: normal;
						font-size: 20px;
						text-align: center;
						color: #000;
						padding: 60px 0 30px;
					}
				}

				/*============================ #sns ============================*/
				div#sns {
					width: 100%;
					height: auto;
					margin: 1px auto;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;

					h2 {
						width: 100%;
						padding: 60px 0 30px;
					}

					a {
						display: block;
						width: 30%;
						height: auto;

						img {
							width: 100%;
							height: 100%;
						}
					}
				}
			}
		}

		footer {
			width: 100%;
			height: 80px;
			background: rgba(255, 255, 255, 0.65);
			margin: 60px auto 0;

			p {
				width: 100%;
				font-family: Meiryo;
				font-weight: normal;
				font-size: 20px;
				line-height: 80px;
				text-align: center;
				color: #000;

			}
		}
	}
}

/*--------------------------------------------------
            TB
--------------------------------------------------*/
@include tab {
	body h2 {
		font-family: Meiryo;
		font-weight: normal;
		font-size: 20px;
		line-height: 20px;
		text-align: center;
		color: #000;

	}

	body p {
		font-family: Meiryo;
		font-weight: normal;
		font-size: 14px;
		line-height: 32px;
		text-align: left;
		color: #000;

	}

	dd.category {
		display: block;
		width: auto;
		height: 25px;
		padding: 0 10px;
		background: #ffa7a7;
	}

	div.bg {
		position: fixed;
		width: 100%;
		height: 100lvh;
		background: linear-gradient(-135deg, #1717e6, #00004d);
		z-index: -1;

	}

	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		width: 90%;
		max-width: 700px;
		margin: 0 auto;

		header {
			width: 100%;

			div {
				img {
					display: block;
					width: 100%;
					height: 443px;
					margin: 0 auto;
				}
			}

			nav {
				width: 100%;
				height: 80px;
				margin: 0 auto;

				ul {
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: normal;
					margin: 0 auto;

					li {
						width: 25%;

						a {
							display: block;
							width: 100%;
							font-family: Meiryo;
							font-weight: normal;
							line-height: 80px;
							font-size: 20px;
							text-align: center;
							color: #fff;
							margin: 0;
						}
					}
				}
			}

			div#Hum-menu {
				display: none;
			}
		}



		/*============================ #News ============================*/
		div#News {
			width: 100%;
			height: auto;
			background: rgba(255, 255, 255, 0.65);
			margin: 0 auto;
			padding: 1px;
			padding-bottom: 60px;
			margin: 0 0 40px;

			h2 {
				margin: 35px auto 25px;
			}

			div {
				width: 75%;
				min-width: 500px;
				max-width: 700px;
				height: auto;
				margin: 0 auto;

				dl {
					display: flex;
					flex-wrap: nowrap;
					justify-content: center;
					align-items: center;
					width: 100%;
					height: 60px;
					border-top: 1px solid #707070;

					&:nth-last-of-type(1) {
						border-bottom: 1px solid #707070;
					}

					a {
						width: 100%;
						height: 100%;
						display: flex;
						align-items: center;

						dd.dd1 {
							font-family: Meiryo;
							font-weight: normal;
							font-size: 14px;
							text-align: center;
							color: #000;
						}

						dd.category {
							margin: 0 10px;
						}

						dt {
							font-family: Meiryo;
							font-weight: normal;
							font-size: 14px;
							text-align: center;
							color: #000;

						}
					}
				}
			}
		}

		/*============================ #achive-news ============================*/
		div#achive-news {
			width: 100%;
			max-width: 750px;
			height: auto;
			margin: 0 auto;

			h2 {
				padding: 40px 0 10px;
			}

			p {
				width: 490px;
				height: auto;
				margin: 0 auto 10px;
			}

			a {
				color: black;

				&:visited {
					color: black;
				}
			}

			#all-category {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				padding: 10px 0 20px;

				dd {
					display: inline-block;
					margin: 0 5px;
				}
			}

			dl {
				width: 100%;
				max-width: 750px;
				height: 160px;
				background: rgba(255, 255, 255, 0.65);
				margin: 0 auto 20px;

				a {
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
					flex-wrap: nowrap;
					align-content: space-between;

					img {
						display: block;
						width: auto;
						height: 100%;
						margin: 0;
					}

					div {
						display: flex;
						flex-wrap: wrap;
						align-content: space-between;
						width: 64%;
						height: 100%;
						margin: 0 3%;
						padding: 3% 0;

						dt {
							width: 100%;
						}

						div {
							display: flex;
							flex-wrap: nowrap;
							align-items: center;
							width: 140px;
							height: 25px;
							margin: 0 0 0 20px;

							img.time-img {
								display: block;
								width: 16px;
								height: 16px;
								margin-right: 7px;
							}
						}
					}
				}
			}

			/*============================ #Page-controll ============================*/
			div#Page-controll {
				width: 700px;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				margin: 30px auto 50px;
			}
		}


		/*============================ #Single ============================*/
		div#Single {
			width: 100%;
			height: auto;
			background: #fff;
			margin: 0 auto;
			padding: 40px;

			/*============================ .Thumbnail ============================*/
			div.Thumbnail {
				width: 100%;
				height: 322px;
				background-size: cover;
				background-position: center;
				margin: 50px auto 15px;
			}

			img {
				display: block;
				width: 100%;
				height: 322px;
				padding: 50px 0 15px;
			}

			/*============================ #Single-title ============================*/
			h1#Single-title {
				width: 100%;
				font-family: Meiryo;
				font-weight: normal;
				font-size: 24px;
				line-height: 32px;
				text-align: center;
				color: #000;
				padding: 30px 0 10px;
			}

			dl {
				display: flex;
				flex-wrap: nowrap;
				width: 100%;
				height: auto;
				padding: 15px 0;

				dd.category {
					margin-right: 20px;
				}
			}

			h2 {
				font-family: Meiryo;
				font-weight: normal;
				font-size: 20px;
				line-height: 32px;
				text-align: center;
				color: #000;
				padding: 30px 0 10px;
			}

			p {
				font-family: Meiryo;
				font-weight: normal;
				font-size: 16px;
				line-height: 32px;
				text-align: left;
				color: #000;
				padding: 5px 0;
			}

			a {
				display: block;
				font-family: Meiryo;
				font-weight: normal;
				font-size: 16px;
				line-height: 32px;
				text-align: left;
				color: #000;
				padding: 5px 0;
			}

			h3 {
				font-family: Meiryo;
				font-weight: normal;
				font-size: 18px;
				line-height: 32px;
				text-align: center;
				color: #000;
				padding: 30px 0 10px;
			}

			/*============================ #Page-controll ============================*/
			div#Page-controll {
				width: 240px;
				display: flex;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-items: center;
				margin: 0 auto;
				padding: 30px 0 50px;

				/*============================ #Prev-page及び#Next-page ============================*/
				a#Prev-page,
				a#Next-page {
					display: block;
					width: 100px;
					height: 30px;
					font-family: Meiryo;
					font-weight: normal;
					font-size: 16px;
					line-height: 30px;
					text-align: center;
					color: #000;
					background: #fff;
					border: 1px solid #707070;
					padding: 0;
				}
			}
		}

		.main-container {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			main {
				width: 100%;
				height: auto;
				margin: 0;

				/*============================ #Content ============================*/
				div#Content {
					width: 100%;
					background: rgba(255, 255, 255, 0.65);
					margin: 0;
					padding: 60px 60px;

					/*============================ #Welcom ============================*/
					div#Welcom {
						width: 100%;
						height: auto;

						h2 {
							padding: 0 0 30px;
						}

						div {
							display: flex;
							align-items: center;
							width: 100%;

							img {
								display: block;
								width: 50%;
								height: auto;
								margin: 0;
							}

							p {
								width: 50%;
								padding-left: 35px;
							}
						}
					}

					/*============================ #Business ============================*/
					div#Business {
						width: 100%;
						height: auto;
						margin: 0 auto;

						h2 {
							padding: 60px 0 30px;
							;
						}

						ul {
							display: flex;
							justify-content: space-between;

							li {
								width: 30%;
								min-height: 430px;
								list-style: none;
								background: #fff;
								box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.16);

								img {
									display: block;
									width: 100px;
									height: 100px;
									margin: 25px auto;
								}


								h3 {
									text-align: center;
									margin: 20px auto 20px
								}

								p {
									width: 100%;
									margin: 0 auto;
									padding: 0 20px;
								}

							}
						}
					}

					/*============================ #Achievement ============================*/
					div#Achievement {
						display: flex;
						flex-wrap: wrap;
						width: 100%;
						margin: 0 auto;

						h2 {
							width: 100%;
							padding: 60px 0 30px;
							order: 1;
						}

						img {
							display: block;
							width: 50%;
							height: auto;
							order: 3;
						}

						div {
							display: flex;
							flex-wrap: wrap;
							align-content: center;
							width: 50%;
							height: auto;
							order: 2;

							a {
								display: block;
								width: 60px;
								height: 28px;
								background-color: #fff;
								box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
								font-family: Meiryo;
								font-weight: normal;
								font-size: 14px;
								line-height: 28px;
								text-align: center;
								color: #000;
								margin: 10px auto 0;
							}
						}
					}

					/*============================ #Activity ============================*/
					div#Activity {
						display: flex;
						flex-wrap: wrap;
						width: 100%;
						margin: 0 auto;

						h2 {
							width: 100%;
							padding: 60px 0 30px;
							order: 1;
						}

						img {
							display: block;
							width: 50%;
							height: auto;
							order: 2;
						}

						div {
							display: flex;
							flex-wrap: wrap;
							align-content: center;
							width: 50%;
							height: auto;
							order: 3;

							a {
								display: block;
								width: 60px;
								height: 28px;
								background-color: #fff;
								box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
								font-family: Meiryo;
								font-weight: normal;
								font-size: 14px;
								line-height: 28px;
								text-align: center;
								color: #000;
								margin: 10px auto 0;


							}
						}
					}

					/*============================ #Contact ============================*/
					div#Contact {
						h2 {
							padding: 60px 0 30px;
						}

						p#Contact-alt {
							text-align: center;
							padding-bottom: 30px;
						}

						form {
							width: 100%;
							height: auto;
							margin: 0 auto;

							label {
								display: flex;
								flex-wrap: nowrap;
								align-items: center;
								justify-content: space-between;
								width: 100%;
								height: 70px;
								width: 100%;
								border-top: 1px solid #707070;
								padding: 0 30px;

								&:nth-last-of-type(1) {
									align-items: normal;
									height: 180px;
								}

								h3 {
									width: 260px;
									font-family: Meiryo;
									font-weight: normal;
									font-size: 16px;
									line-height: 40px;
									text-align: left;
									color: #000;
								}

								input {
									width: 400px;
									height: 40px;
									background: rgba(255, 255, 255, 0.65);
									border: 1px solid #707070;
									margin: 15px 0;
								}

								h3 {
									width: 400px;
									height: 40px;
									margin: 15px 0;
									text-align: left;
								}

								textarea {
									width: 400px;
									height: 150px;
									background: rgba(255, 255, 255, 0.65);
									border: 1px solid #707070;
									margin: 15px 0;
								}
							}

							button {
								display: block;
								width: 60px;
								height: 28px;
								background: rgba(255, 255, 255, 0.65);
								box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
								margin: 30px auto 0;
							}
						}
					}
				}
			}

			/*============================ #SideNav ============================*/
			div#SideNav {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				width: 100%;
				height: auto;
				background: rgba(255, 255, 255, 0.65);
				margin: 0;
				padding: 1px 30px;

				h2 {
					width: 100%;
					padding-bottom: 30px;
				}

				img {
					display: block;
					width: 100px;
					height: 100px;
					margin: 0;
					margin-right: 10%;
				}

				/*============================ #Profile ============================*/
				div#Profile {
					width: 55%;
					padding: 0 15% 0 0;

					dl {
						display: flex;
						flex-wrap: nowrap;
						width: 100%;
						margin: 15px 0;

						dt {
							width: 64px;
						}
					}
				}

				div {
					height: auto;
					margin: 0 0 30px;

					h3 {
						font-family: Meiryo;
						font-weight: normal;
						font-size: 20px;
						text-align: center;
						color: #000;
						padding: 30px 0;
					}

					p {
						margin: 0;
						padding: 0 10% 10px;
					}
				}

				/*============================ #sns ============================*/
				div#sns {
					width: 100%;
					height: auto;
					margin: 0 auto 0;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-around;
					padding: 0 20%;

					h2 {
						width: 100%;
						padding: 0 0 30px;
					}

					a {
						display: block;
						width: 20%;
						height: auto;

						img {
							width: 100%;
							height: 100%;
							padding: 0;
						}
					}
				}
			}
		}

		footer {
			width: 100%;
			height: 70px;
			background: rgba(255, 255, 255, 0.65);

			p {
				width: 100%;
				font-family: Meiryo;
				font-weight: normal;
				font-size: 14px;
				line-height: 70px;
				text-align: center;
				color: #000;

			}
		}
	}
}

/*--------------------------------------------------
            SP
--------------------------------------------------*/
@include sp {
	body h2 {
		font-family: Meiryo;
		font-weight: normal;
		font-size: 18px;
		line-height: 20px;
		text-align: center;
		color: #fff;

	}

	body p {
		font-family: Meiryo;
		font-weight: normal;
		font-size: 14px;
		line-height: 28px;
		text-align: left;
		color: #fff;

	}

	p#Contact-alt {
		text-align: center;
		margin-bottom: 50px;
	}

	body dd.category {
		width: auto;
		height: 20px;
		padding: 0 5px;
		margin: 5px;
		background: #ffa7a7;
		margin: 0;
	}

	div.bg {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100lvh;
		background: linear-gradient(-135deg, #000080, #9941d8);
		z-index: -1;
	}

	.container {
		width: 100%;
		min-width: 320px;
		margin: 0 auto;
		padding: 1px 20px;

		header {
			padding-top: 85px;

			div {
				img {
					display: block;
					width: 100%;
					height: 109px;
					margin: 0 auto;
				}
			}

			nav {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100vh;
				margin: 0 auto;
				padding-top: 85px;
				background: linear-gradient(-135deg, #000080, #9941d8);
				transform: translateY(-100vh);
				transition: all 0.3s;

				&.active {
					transform: translateX(0);
				}

				ul {
					width: 100%;
					height: auto;
					display: flex;
					flex-wrap: wrap;
					margin: 0 auto;

					li {
						width: 100%;
						height: 40px;

						a {
							display: block;
							width: 100%;
							height: 40px;
							font-family: Meiryo;
							font-weight: normal;
							font-size: 20px;
							line-height: 40px;
							text-align: center;
							color: #fff;
							margin: 0;
						}
					}
				}
			}

			div#Hum-menu {
				position: fixed;
				top: 20px;
				right: calc(10% - 22.5px);
				width: 45px;
				height: 45px;

				span {
					position: absolute;
					left: 10px;
					width: 25px;
					height: 4px;
					border-radius: 2px;
					background: #fff;
					transition: all .3s;

					&:nth-of-type(1) {
						top: 10px;
					}

					&:nth-of-type(2) {
						top: 20px;
					}

					&:nth-of-type(3) {
						top: 30px;
					}

					&#span1.active {
						top: 20px;
						transform: rotate(225deg);
					}

					&#span2.active {
						display: none;
					}

					&#span3.active {
						top: 20px;
						transform: rotate(-225deg);
					}
				}
			}
		}

		/*============================ #News ============================*/
		div#News {
			width: 100%;
			height: auto;
			margin: 0 auto 0;
			padding: 0 20px;

			h2 {
				padding: 30px 0 10px;
			}

			div {
				width: 100%;
				height: auto;
				margin: 0 auto;

				dl {
					display: block;
					width: 100%;
					height: auto;
					border-top: 1px solid #707070;

					&:nth-last-of-type(1) {
						border-bottom: 1px solid #707070;
					}

					a {
						width: 100%;
						height: 100%;
						display: flex;
						flex-wrap: wrap;
						justify-content: center;
						align-items: center;

						dd.dd1 {
							width: auto;
							font-family: Meiryo;
							font-weight: normal;
							font-size: 14px;
							text-align: center;
							color: #fff;
							margin: 5px 0;
						}

						dd.category {
							width: auto;
							margin: 0;
							margin-left: 10px;
						}

						dt {
							width: 100%;
							font-family: Meiryo;
							font-weight: normal;
							font-size: 14px;
							text-align: center;
							color: #fff;
							margin: 5px 0;
							padding: 0;
						}
					}
				}
			}
		}

		/*============================ #achive-news ============================*/
		div#achive-news {
			width: 100%;
			height: auto;
			margin: 0 auto;

			h2 {
				margin: 20px auto 10px;
			}

			p {
				width: 100%;
				height: auto;
				margin: 0 auto 20px;
			}

			#all-category {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				margin: 20px 0;

				dd {
					display: inline-block;
					margin: 5px;
				}
			}

			dl {
				width: 100%;
				height: auto;
				margin-bottom: 40px;
				background: rgba(255, 255, 255, 0.65);

				a {
					width: 100%;
					height: 100%;
					display: flex;
					flex-wrap: wrap;

					img {
						display: block;
						width: 100%;
						height: auto;
						background-position: center;
						background-size: cover;
						margin: 0;
					}

					div {
						display: flex;
						flex-wrap: wrap;
						width: 280px;
						margin: 30px auto;

						dt {
							width: 100%;
							font-size: 14px;
							margin-bottom: 18px;
						}

						dd.category {
							margin-left: 10px;
						}

						div {
							display: flex;
							flex-wrap: nowrap;
							align-items: center;
							width: auto;
							margin: 0 0 0 20px;

							img.time-img {
								display: block;
								width: 16px;
								height: 16px;
								margin-right: 7px;
							}

							dd {
								font-family: Meiryo;
								font-weight: normal;
								font-size: 14px;
								line-height: 14px;
								text-align: center;
								color: #000;
							}
						}
					}
				}
			}

			/*============================ #Page-controll ============================*/
			div#Page-controll {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				margin: 30px auto 50px;

				/*============================ #Prev-page ============================*/
				a#Prev-page {
					display: block;
					width: 120px;
					height: 30px;
					font-family: Meiryo;
					font-weight: normal;
					font-size: 16px;
					line-height: 30px;
					text-align: center;
					color: #000;
					background: #fff;
					border: 1px solid #707070;
				}

				/*============================ #Next-page ============================*/
				a#Next-page {
					display: block;
					width: 120px;
					height: 30px;
					font-family: Meiryo;
					font-weight: normal;
					font-size: 16px;
					line-height: 30px;
					text-align: center;
					color: #000;
					background: #fff;
					border: 1px solid #707070;
				}
			}
		}

		/*============================ #Single ============================*/
		div#Single {
			width: 100%;
			height: auto;
			background: #fff;
			margin: 0 auto;
			padding: 20px;

			/*============================ .Thumbnail ============================*/
			div.Thumbnail {
				width: 100%;
				height: auto;
				background-size: cover;
				background-position: center;
				margin: 50px auto 15px;
			}

			img {
				display: block;
				width: 100%;
				height: auto;
				margin: 50px auto 15px;
			}

			/*============================ #Single-title ============================*/
			h1#Single-title {
				font-family: Meiryo;
				font-weight: normal;
				font-size: 24px;
				line-height: 32px;
				text-align: center;
				color: #000;
				padding: 20px 0 5px;
			}

			dl {
				display: flex;
				flex-wrap: nowrap;
				height: auto;
				padding: 20px 0 5;

				dd.category {
					margin-right: 20px;
					font-size: 12px;
				}

				dd.dd2 {
					font-size: 12px;
				}
			}

			h2 {
				font-family: Meiryo;
				font-weight: normal;
				font-size: 20px;
				line-height: 32px;
				text-align: center;
				color: #000;
				padding: 20px 0 5px;

			}

			p {
				font-family: Meiryo;
				font-weight: normal;
				font-size: 16px;
				line-height: 32px;
				text-align: left;
				color: #000;
				padding: 5px 0;
			}

			a {
				display: block;
				font-family: Meiryo;
				font-weight: normal;
				font-size: 16px;
				line-height: 32px;
				text-align: left;
				color: #000;
				padding: 20px 0 5px;
			}

			h3 {
				font-family: Meiryo;
				font-weight: normal;
				font-size: 18px;
				line-height: 32px;
				text-align: center;
				color: #000;
				padding: 20px 0 5px;
			}

			/*============================ #Page-controll ============================*/
			div#Page-controll {
				width: 240px;
				display: flex;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-items: center;
				margin: auto;
				padding: 30px 0 50px;

				/*============================ #Prev-page及び#Next-page ============================*/
				a#Prev-page,
				a#Next-page {
					display: block;
					width: 100px;
					height: 30px;
					font-family: Meiryo;
					font-weight: normal;
					font-size: 16px;
					line-height: 30px;
					text-align: center;
					color: #000;
					background: #fff;
					border: 1px solid #707070;
					padding: 0;
				}
			}
		}

		.main-container {
			main {
				display: flex !important;
				flex-wrap: wrap;
				justify-content: space-between;
				width: 100%;
				height: auto;
				margin: 0 auto;
				padding: 0;


				/*============================ #Content ============================*/
				div#Content {
					width: 100%;
					margin: 0;
					padding: 1px;

					/*============================ #Welcom ============================*/
					div#Welcom {
						width: 100%;
						height: auto;

						h2 {
							padding: 40px 0 15px;
						}

						div {
							display: flex;
							flex-wrap: wrap;
							width: 100%;

							img {
								display: block;
								width: 100%;
								height: auto;
								margin: 0;
							}

							p {
								width: 100%;
								padding: 10px 0 10px;
							}
						}
					}

					/*============================ #Business ============================*/
					div#Business {
						width: 100%;
						height: auto;
						margin: 0 auto;

						h2 {
							padding: 30px 0 15px;
						}

						ul {
							display: flex;
							flex-wrap: wrap;
							justify-content: space-between;

							li {
								display: flex;
								flex-wrap: wrap;
								justify-content: center;
								width: 100%;
								height: auto;
								list-style: none;
								background: #fff;
								box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.16);
								margin: 0 auto 30px;

								img {
									display: block;
									width: 60px;
									height: 60px;
									margin: 10px;
								}



								h3 {
									width: auto;
									text-align: center;
									margin: 30px 10px 20px 20px;
								}

								p {
									width: 60%;
									margin: 0 auto 20px;
									color: #000;
								}

							}
						}
					}

					/*============================ #Achievement ============================*/
					div#Achievement {
						display: flex;
						flex-wrap: wrap;
						width: 100%;
						margin: 0 auto;

						h2 {
							width: 100%;
							margin: 40px auto 15px;
							order: 1;
						}

						img {
							display: block;
							width: 100%;
							height: auto;
							order: 2;

							&.pc {
								display: none;
							}
						}

						div {
							width: 100%;
							height: auto;
							order: 3;
							padding: 10px 0;

							a {
								display: block;
								width: 60px;
								height: 28px;
								background-color: #fff;
								box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
								font-family: Meiryo;
								font-weight: normal;
								font-size: 14px;
								line-height: 28px;
								text-align: center;
								color: #000;
								margin: 10px auto;


							}
						}
					}

					/*============================ #Activity ============================*/
					div#Activity {
						display: flex;
						flex-wrap: wrap;
						width: 100%;
						margin: 0 auto;

						h2 {
							width: 100%;
							margin: 40px auto 10px;
							order: 1;
						}

						img {
							display: block;
							width: 100%;
							height: auto;
							order: 2;

							&.pc {
								display: none !important;
							}
						}

						div {
							width: 100%;
							height: auto;
							order: 3;
							padding: 10px 0;

							a {
								display: block;
								width: 60px;
								height: 28px;
								background-color: #fff;
								box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
								font-family: Meiryo;
								font-weight: normal;
								font-size: 14px;
								line-height: 28px;
								text-align: center;
								color: #000;
								margin: 10px auto;


							}
						}
					}

					/*============================ #Contact ============================*/
					div#Contact {
						width: 100%;

						h2 {
							margin: 40px auto 10px;
						}

						p#Contact-alt {
							text-align: left;
							width: 100%;
							margin: 0 auto;
							line-height: 1.6;
							font-size: 12px;
						}

						form {
							width: 100%;
							height: auto;
							margin: 0 auto;

							label {
								display: flex;
								flex-wrap: wrap;
								align-items: center;
								width: 100%;
								height: auto;
								margin: 0 auto;

								&:nth-last-of-type(1) {
									align-items: normal;
									min-height: 80px;
									height: auto;
								}

								input {
									width: 100%;
									height: 40px;
									background: rgba(255, 255, 255, 0.65);
									border: 1px solid #707070;
								}

								h3 {
									width: 100%;
									padding: 15px 0;
									color: #fff;
									text-align: center;

									&#Semdtext {
										width: 240px;
										margin: 10px auto;
									}
								}

								textarea {
									display: block;
									width: 100%;
									height: 150px;
									background: rgba(255, 255, 255, 0.65);
									border: 1px solid #707070;
								}
							}

							button {
								display: block;
								width: 60px;
								height: 28px;
								background: rgba(255, 255, 255, 0.65);
								box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
								margin: 20px auto;
							}
						}
					}
				}
			}

			/*============================ #SideNav ============================*/
			div#SideNav {
				display: flex;
				flex-wrap: wrap;
				align-content: flex-start;
				width: 100%;
				height: auto;
				margin: 0 0;
				padding: 0 30px;

				h2 {
					width: 100%;
					margin: 40px auto 10px;
				}

				img {
					display: block;
					width: 50%;
					height: auto;
					margin: 0 auto;
				}

				/*============================ #Profile ============================*/
				div#Profile {
					width: 100%;

					dl {
						display: flex;
						flex-wrap: nowrap;
						width: 100%;
						margin: auto;

						dt {
							width: 50px;
							color: #fff;
						}

						dd {
							font-size: 14px;
							color: #fff;
						}
					}
				}

				div {
					width: 100%;
					height: auto;
					margin: 15px auto;

					h3 {
						font-family: Meiryo;
						font-weight: normal;
						font-size: 20px;
						text-align: center;
						color: #fff;
						margin-bottom: 10px;
					}

					p {
						margin: 0 auto;
					}
				}

				/*============================ #sns ============================*/
				div#sns {
					width: 100%;
					height: auto;
					margin: 0 auto 30px;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;

					h2 {
						width: 100%;
						margin: 20px auto 10px;
					}

					a {
						display: block;
						width: 30%;
						height: auto;

						img {
							width: 100%;
							height: 100%;
						}
					}
				}
			}
		}

		footer {
			width: 100%;
			height: 50px;

			p {
				width: 100%;
				font-family: Meiryo;
				font-weight: normal;
				font-size: 14px;
				line-height: 50px;
				text-align: center;
				color: #fff;

			}
		}
	}
}