@charset "UTF-8";
div.img {
  position: relative;
  overflow: hidden;
}

/*--------------------------------------------------
            PC
--------------------------------------------------*/
@media screen and (min-width: 1281px) {
  body h2 {
    font-family: Meiryo;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #000;
  }
  body p {
    font-family: Meiryo;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    text-align: left;
    color: #000;
  }
  body .sp {
    display: none !important;
  }
  dd.category {
    width: auto;
    height: 25px;
    padding: 0 10px;
    background: #ffa7a7;
  }
  p#Contact-alt {
    text-align: center;
    margin-bottom: 50px;
  }
  div.bg {
    position: fixed;
    width: 100%;
    height: 100lvh;
    background: linear-gradient(-135deg, #1717e6, #00004d);
    z-index: -1;
    /*============================ #particles-js ============================*/
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    /*============================ #News ============================*/
    /*============================ #achive-news ============================*/
    /*============================ #Single ============================*/
  }
  .container header {
    width: 100%;
  }
  .container header div.slider {
    position: relative;
    width: 100%;
  }
  .container header div.slider div.img {
    width: 100%;
    max-width: 1300px;
    aspect-ratio: 16/9;
  }
  .container header div.slider div.img img {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    height: auto;
    transform: translateY(-50%);
  }
  .container header nav {
    width: 100%;
    height: 85px;
    margin: 0 auto;
  }
  .container header nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: normal;
    margin: 0 auto;
  }
  .container header nav ul li a {
    font-family: Meiryo;
    font-weight: normal;
    line-height: 85px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin: 0 50px;
  }
  .container header div#Hum-menu {
    display: none;
  }
  .container div#News {
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.65);
    margin: 0 auto;
    padding: 1px;
    padding-bottom: 60px;
    margin: 0 0 60px;
  }
  .container div#News h2 {
    margin: 35px auto 25px;
  }
  .container div#News div {
    width: 75%;
    max-width: 700px;
    height: auto;
    margin: 0 auto;
  }
  .container div#News div dl {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    width: 700px;
    border-top: 1px solid #707070;
  }
  .container div#News div dl:nth-last-of-type(1) {
    border-bottom: 1px solid #707070;
  }
  .container div#News div dl a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .container div#News div dl a dd.dd1 {
    font-family: Meiryo;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #000;
  }
  .container div#News div dl a dd.category {
    margin: 0 10px;
  }
  .container div#News div dl a dt {
    font-family: Meiryo;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #000;
  }
  .container div#achive-news {
    width: 100%;
    height: auto;
    margin: 0 auto;
    /*============================ #Page-controll ============================*/
  }
  .container div#achive-news h2 {
    padding: 40px 0 10px;
  }
  .container div#achive-news p {
    height: auto;
    margin: 0 auto 10px;
    text-align: center;
  }
  .container div#achive-news a {
    color: black;
  }
  .container div#achive-news a:visited {
    color: black;
  }
  .container div#achive-news #all-category {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
  }
  .container div#achive-news #all-category dd {
    display: inline-block;
    margin: 0 5px;
  }
  .container div#achive-news dl {
    width: 100%;
    height: 160px;
    background: rgba(255, 255, 255, 0.65);
    margin-bottom: 20px;
  }
  .container div#achive-news dl a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
  }
  .container div#achive-news dl a div.news-img {
    display: flex;
    align-items: center;
    width: 30%;
    height: 100%;
  }
  .container div#achive-news dl a div.news-img img {
    display: block;
    width: 100%;
    height: auto;
  }
  .container div#achive-news dl a div.news-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 64%;
    margin: 3% auto;
  }
  .container div#achive-news dl a div.news-container dt {
    width: 100%;
    height: auto;
  }
  .container div#achive-news dl a div.news-container div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 140px;
    margin: 0;
    height: 25px;
    margin-left: 20px;
  }
  .container div#achive-news dl a div.news-container div img.time-img {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 7px;
  }
  .container div#achive-news div#Page-controll {
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px auto 50px;
  }
  .container div#Single {
    width: 100%;
    height: auto;
    background: #fff;
    margin: 75px auto 0;
    padding: 50px;
    /*============================ .Thumbnail ============================*/
    /*============================ #Single-title ============================*/
    /*============================ #Page-controll ============================*/
  }
  .container div#Single div.Thumbnail {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    margin: 50px auto 15px;
  }
  .container div#Single img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 50px auto 15px;
  }
  .container div#Single h1#Single-title {
    width: 100%;
    font-family: Meiryo;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #000;
    margin: 15px auto;
  }
  .container div#Single dl {
    display: flex;
    flex-wrap: nowrap;
    width: 600px;
    height: auto;
    margin: 15px auto;
  }
  .container div#Single dl dd.category {
    margin-right: 20px;
  }
  .container div#Single h2 {
    width: 100%;
    height: auto;
    font-family: Meiryo;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color: #000;
    padding: 40px 0 10px;
  }
  .container div#Single p {
    width: 100%;
    font-family: Meiryo;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    text-align: left;
    color: #000;
    padding: 5px 0 5px;
  }
  .container div#Single a {
    display: block;
    width: 100%;
    font-family: Meiryo;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    text-align: left;
    color: #000;
  }
  .container div#Single h3 {
    width: 100%;
    height: auto;
    font-family: Meiryo;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    color: #000;
    padding: 40px 0 10px;
  }
  .container div#Single div#Page-controll {
    width: 240px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto 0;
    /*============================ #Prev-page及び#Next-page ============================*/
  }
  .container div#Single div#Page-controll a#Prev-page,
  .container div#Single div#Page-controll a#Next-page {
    display: block;
    width: 100px;
    height: 30px;
    font-family: Meiryo;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #000;
    background: #fff;
    border: 1px solid #707070;
  }
  .container .main-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /*============================ #SideNav ============================*/
  }
  .container .main-container main {
    width: 65%;
    height: auto;
    margin: 0;
    /*============================ #Content ============================*/
  }
  .container .main-container main div#Content {
    width: 100%;
    max-width: 850px;
    background: rgba(255, 255, 255, 0.65);
    margin: 0;
    padding: 30px 60px;
    /*============================ #Welcom ============================*/
    /*============================ #Business ============================*/
    /*============================ #Achievement ============================*/
    /*============================ #Activity ============================*/
    /*============================ #Contact ============================*/
  }
  .container .main-container main div#Content div#Welcom {
    width: 100%;
    height: auto;
  }
  .container .main-container main div#Content div#Welcom h2 {
    padding: 30px 0 30px;
  }
  .container .main-container main div#Content div#Welcom div {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .container .main-container main div#Content div#Welcom div img {
    display: block;
    width: 50%;
    height: auto;
    margin: 0;
  }
  .container .main-container main div#Content div#Welcom div p {
    width: 50%;
    padding-left: 35px;
  }
  .container .main-container main div#Content div#Business {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .container .main-container main div#Content div#Business h2 {
    padding: 60px 0 30px;
  }
  .container .main-container main div#Content div#Business ul {
    display: flex;
    justify-content: space-between;
  }
  .container .main-container main div#Content div#Business ul li {
    width: 30%;
    height: 430px;
    list-style: none;
    background: #fff;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.16);
  }
  .container .main-container main div#Content div#Business ul li img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 25px auto;
  }
  .container .main-container main div#Content div#Business ul li h3 {
    text-align: center;
    margin: 20px auto 20px;
  }
  .container .main-container main div#Content div#Business ul li p {
    width: 160px;
    margin: 0 auto;
  }
  .container .main-container main div#Content div#Achievement {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
  }
  .container .main-container main div#Content div#Achievement h2 {
    width: 100%;
    padding: 60px 0 30px;
    order: 1;
  }
  .container .main-container main div#Content div#Achievement img {
    display: block;
    width: 50%;
    height: auto;
    order: 3;
  }
  .container .main-container main div#Content div#Achievement div {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 50%;
    height: auto;
    order: 2;
  }
  .container .main-container main div#Content div#Achievement div a {
    display: block;
    width: 60px;
    height: 28px;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-family: Meiryo;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #000;
    margin: 10px auto 0;
  }
  .container .main-container main div#Content div#Activity {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
  }
  .container .main-container main div#Content div#Activity h2 {
    width: 100%;
    padding: 60px 0 30px;
    order: 1;
  }
  .container .main-container main div#Content div#Activity img {
    display: block;
    width: 50%;
    height: auto;
    order: 2;
  }
  .container .main-container main div#Content div#Activity div {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 50%;
    height: auto;
    order: 3;
  }
  .container .main-container main div#Content div#Activity div a {
    display: block;
    width: 60px;
    height: 28px;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-family: Meiryo;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #000;
    margin: 10px auto 0;
  }
  .container .main-container main div#Content div#Contact h2 {
    padding: 60px 0 30px;
  }
  .container .main-container main div#Content div#Contact p#Contact-alt {
    text-align: center;
    padding-bottom: 30px;
  }
  .container .main-container main div#Content div#Contact form {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .container .main-container main div#Content div#Contact form label {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    width: 100%;
    border-top: 1px solid #707070;
    padding: 0 30px;
  }
  .container .main-container main div#Content div#Contact form label:nth-last-of-type(1) {
    align-items: normal;
    height: 180px;
  }
  .container .main-container main div#Content div#Contact form label h3 {
    width: 260px;
    font-family: Meiryo;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    text-align: left;
    color: #000;
  }
  .container .main-container main div#Content div#Contact form label input {
    width: 400px;
    height: 40px;
    background: rgba(255, 255, 255, 0.65);
    border: 1px solid #707070;
    margin: 15px 0;
  }
  .container .main-container main div#Content div#Contact form label h3 {
    width: 400px;
    height: 40px;
    margin: 15px 0;
    text-align: left;
  }
  .container .main-container main div#Content div#Contact form label textarea {
    width: 400px;
    height: 150px;
    background: rgba(255, 255, 255, 0.65);
    border: 1px solid #707070;
    margin: 15px 0;
  }
  .container .main-container main div#Content div#Contact form button {
    display: block;
    width: 60px;
    height: 28px;
    background: rgba(255, 255, 255, 0.65);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin: 30px auto;
  }
  .container .main-container div#SideNav {
    position: sticky;
    top: 0;
    width: 30%;
    max-width: 400px;
    height: auto;
    background: rgba(255, 255, 255, 0.65);
    margin: 0;
    padding: 30px;
    /*============================ #Profile ============================*/
    /*============================ #sns ============================*/
  }
  .container .main-container div#SideNav h2 {
    padding: 30px 0 30px;
  }
  .container .main-container div#SideNav img {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  .container .main-container div#SideNav div#Profile {
    width: 100%;
    margin: 45px auto 0;
  }
  .container .main-container div#SideNav div#Profile dl {
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    margin: 0 auto;
    padding: 7px 0;
  }
  .container .main-container div#SideNav div#Profile dl dt {
    width: 64px;
  }
  .container .main-container div#SideNav div {
    height: auto;
    margin: 0 auto;
  }
  .container .main-container div#SideNav div h3 {
    font-family: Meiryo;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color: #000;
    padding: 60px 0 30px;
  }
  .container .main-container div#SideNav div#sns {
    width: 100%;
    height: auto;
    margin: 1px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .container .main-container div#SideNav div#sns h2 {
    width: 100%;
    padding: 60px 0 30px;
  }
  .container .main-container div#SideNav div#sns a {
    display: block;
    width: 30%;
    height: auto;
  }
  .container .main-container div#SideNav div#sns a img {
    width: 100%;
    height: 100%;
  }
  .container footer {
    width: 100%;
    height: 80px;
    background: rgba(255, 255, 255, 0.65);
    margin: 60px auto 0;
  }
  .container footer p {
    width: 100%;
    font-family: Meiryo;
    font-weight: normal;
    font-size: 20px;
    line-height: 80px;
    text-align: center;
    color: #000;
  }
}
/*--------------------------------------------------
            TB
--------------------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1280px) {
  body h2 {
    font-family: Meiryo;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #000;
  }
  body p {
    font-family: Meiryo;
    font-weight: normal;
    font-size: 14px;
    line-height: 32px;
    text-align: left;
    color: #000;
  }
  dd.category {
    display: block;
    width: auto;
    height: 25px;
    padding: 0 10px;
    background: #ffa7a7;
  }
  div.bg {
    position: fixed;
    width: 100%;
    height: 100lvh;
    background: linear-gradient(-135deg, #1717e6, #00004d);
    z-index: -1;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    /*============================ #News ============================*/
    /*============================ #achive-news ============================*/
    /*============================ #Single ============================*/
  }
  .container header {
    width: 100%;
  }
  .container header div img {
    display: block;
    width: 100%;
    height: 443px;
    margin: 0 auto;
  }
  .container header nav {
    width: 100%;
    height: 80px;
    margin: 0 auto;
  }
  .container header nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: normal;
    margin: 0 auto;
  }
  .container header nav ul li {
    width: 25%;
  }
  .container header nav ul li a {
    display: block;
    width: 100%;
    font-family: Meiryo;
    font-weight: normal;
    line-height: 80px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin: 0;
  }
  .container header div#Hum-menu {
    display: none;
  }
  .container div#News {
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.65);
    margin: 0 auto;
    padding: 1px;
    padding-bottom: 60px;
    margin: 0 0 40px;
  }
  .container div#News h2 {
    margin: 35px auto 25px;
  }
  .container div#News div {
    width: 75%;
    min-width: 500px;
    max-width: 700px;
    height: auto;
    margin: 0 auto;
  }
  .container div#News div dl {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    border-top: 1px solid #707070;
  }
  .container div#News div dl:nth-last-of-type(1) {
    border-bottom: 1px solid #707070;
  }
  .container div#News div dl a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .container div#News div dl a dd.dd1 {
    font-family: Meiryo;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #000;
  }
  .container div#News div dl a dd.category {
    margin: 0 10px;
  }
  .container div#News div dl a dt {
    font-family: Meiryo;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #000;
  }
  .container div#achive-news {
    width: 100%;
    max-width: 750px;
    height: auto;
    margin: 0 auto;
    /*============================ #Page-controll ============================*/
  }
  .container div#achive-news h2 {
    padding: 40px 0 10px;
  }
  .container div#achive-news p {
    width: 490px;
    height: auto;
    margin: 0 auto 10px;
  }
  .container div#achive-news a {
    color: black;
  }
  .container div#achive-news a:visited {
    color: black;
  }
  .container div#achive-news #all-category {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0 20px;
  }
  .container div#achive-news #all-category dd {
    display: inline-block;
    margin: 0 5px;
  }
  .container div#achive-news dl {
    width: 100%;
    max-width: 750px;
    height: 160px;
    background: rgba(255, 255, 255, 0.65);
    margin: 0 auto 20px;
  }
  .container div#achive-news dl a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    align-content: space-between;
  }
  .container div#achive-news dl a img {
    display: block;
    width: auto;
    height: 100%;
    margin: 0;
  }
  .container div#achive-news dl a div {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 64%;
    height: 100%;
    margin: 0 3%;
    padding: 3% 0;
  }
  .container div#achive-news dl a div dt {
    width: 100%;
  }
  .container div#achive-news dl a div div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 140px;
    height: 25px;
    margin: 0 0 0 20px;
  }
  .container div#achive-news dl a div div img.time-img {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 7px;
  }
  .container div#achive-news div#Page-controll {
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px auto 50px;
  }
  .container div#Single {
    width: 100%;
    height: auto;
    background: #fff;
    margin: 0 auto;
    padding: 40px;
    /*============================ .Thumbnail ============================*/
    /*============================ #Single-title ============================*/
    /*============================ #Page-controll ============================*/
  }
  .container div#Single div.Thumbnail {
    width: 100%;
    height: 322px;
    background-size: cover;
    background-position: center;
    margin: 50px auto 15px;
  }
  .container div#Single img {
    display: block;
    width: 100%;
    height: 322px;
    padding: 50px 0 15px;
  }
  .container div#Single h1#Single-title {
    width: 100%;
    font-family: Meiryo;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #000;
    padding: 30px 0 10px;
  }
  .container div#Single dl {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    padding: 15px 0;
  }
  .container div#Single dl dd.category {
    margin-right: 20px;
  }
  .container div#Single h2 {
    font-family: Meiryo;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #000;
    padding: 30px 0 10px;
  }
  .container div#Single p {
    font-family: Meiryo;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    text-align: left;
    color: #000;
    padding: 5px 0;
  }
  .container div#Single a {
    display: block;
    font-family: Meiryo;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    text-align: left;
    color: #000;
    padding: 5px 0;
  }
  .container div#Single h3 {
    font-family: Meiryo;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #000;
    padding: 30px 0 10px;
  }
  .container div#Single div#Page-controll {
    width: 240px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 30px 0 50px;
    /*============================ #Prev-page及び#Next-page ============================*/
  }
  .container div#Single div#Page-controll a#Prev-page,
  .container div#Single div#Page-controll a#Next-page {
    display: block;
    width: 100px;
    height: 30px;
    font-family: Meiryo;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #000;
    background: #fff;
    border: 1px solid #707070;
    padding: 0;
  }
  .container .main-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*============================ #SideNav ============================*/
  }
  .container .main-container main {
    width: 100%;
    height: auto;
    margin: 0;
    /*============================ #Content ============================*/
  }
  .container .main-container main div#Content {
    width: 100%;
    background: rgba(255, 255, 255, 0.65);
    margin: 0;
    padding: 60px 60px;
    /*============================ #Welcom ============================*/
    /*============================ #Business ============================*/
    /*============================ #Achievement ============================*/
    /*============================ #Activity ============================*/
    /*============================ #Contact ============================*/
  }
  .container .main-container main div#Content div#Welcom {
    width: 100%;
    height: auto;
  }
  .container .main-container main div#Content div#Welcom h2 {
    padding: 0 0 30px;
  }
  .container .main-container main div#Content div#Welcom div {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .container .main-container main div#Content div#Welcom div img {
    display: block;
    width: 50%;
    height: auto;
    margin: 0;
  }
  .container .main-container main div#Content div#Welcom div p {
    width: 50%;
    padding-left: 35px;
  }
  .container .main-container main div#Content div#Business {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .container .main-container main div#Content div#Business h2 {
    padding: 60px 0 30px;
  }
  .container .main-container main div#Content div#Business ul {
    display: flex;
    justify-content: space-between;
  }
  .container .main-container main div#Content div#Business ul li {
    width: 30%;
    min-height: 430px;
    list-style: none;
    background: #fff;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.16);
  }
  .container .main-container main div#Content div#Business ul li img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 25px auto;
  }
  .container .main-container main div#Content div#Business ul li h3 {
    text-align: center;
    margin: 20px auto 20px;
  }
  .container .main-container main div#Content div#Business ul li p {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  .container .main-container main div#Content div#Achievement {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
  }
  .container .main-container main div#Content div#Achievement h2 {
    width: 100%;
    padding: 60px 0 30px;
    order: 1;
  }
  .container .main-container main div#Content div#Achievement img {
    display: block;
    width: 50%;
    height: auto;
    order: 3;
  }
  .container .main-container main div#Content div#Achievement div {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 50%;
    height: auto;
    order: 2;
  }
  .container .main-container main div#Content div#Achievement div a {
    display: block;
    width: 60px;
    height: 28px;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-family: Meiryo;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #000;
    margin: 10px auto 0;
  }
  .container .main-container main div#Content div#Activity {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
  }
  .container .main-container main div#Content div#Activity h2 {
    width: 100%;
    padding: 60px 0 30px;
    order: 1;
  }
  .container .main-container main div#Content div#Activity img {
    display: block;
    width: 50%;
    height: auto;
    order: 2;
  }
  .container .main-container main div#Content div#Activity div {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 50%;
    height: auto;
    order: 3;
  }
  .container .main-container main div#Content div#Activity div a {
    display: block;
    width: 60px;
    height: 28px;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-family: Meiryo;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #000;
    margin: 10px auto 0;
  }
  .container .main-container main div#Content div#Contact h2 {
    padding: 60px 0 30px;
  }
  .container .main-container main div#Content div#Contact p#Contact-alt {
    text-align: center;
    padding-bottom: 30px;
  }
  .container .main-container main div#Content div#Contact form {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .container .main-container main div#Content div#Contact form label {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    width: 100%;
    border-top: 1px solid #707070;
    padding: 0 30px;
  }
  .container .main-container main div#Content div#Contact form label:nth-last-of-type(1) {
    align-items: normal;
    height: 180px;
  }
  .container .main-container main div#Content div#Contact form label h3 {
    width: 260px;
    font-family: Meiryo;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    text-align: left;
    color: #000;
  }
  .container .main-container main div#Content div#Contact form label input {
    width: 400px;
    height: 40px;
    background: rgba(255, 255, 255, 0.65);
    border: 1px solid #707070;
    margin: 15px 0;
  }
  .container .main-container main div#Content div#Contact form label h3 {
    width: 400px;
    height: 40px;
    margin: 15px 0;
    text-align: left;
  }
  .container .main-container main div#Content div#Contact form label textarea {
    width: 400px;
    height: 150px;
    background: rgba(255, 255, 255, 0.65);
    border: 1px solid #707070;
    margin: 15px 0;
  }
  .container .main-container main div#Content div#Contact form button {
    display: block;
    width: 60px;
    height: 28px;
    background: rgba(255, 255, 255, 0.65);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin: 30px auto 0;
  }
  .container .main-container div#SideNav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.65);
    margin: 0;
    padding: 1px 30px;
    /*============================ #Profile ============================*/
    /*============================ #sns ============================*/
  }
  .container .main-container div#SideNav h2 {
    width: 100%;
    padding-bottom: 30px;
  }
  .container .main-container div#SideNav img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0;
    margin-right: 10%;
  }
  .container .main-container div#SideNav div#Profile {
    width: 55%;
    padding: 0 15% 0 0;
  }
  .container .main-container div#SideNav div#Profile dl {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin: 15px 0;
  }
  .container .main-container div#SideNav div#Profile dl dt {
    width: 64px;
  }
  .container .main-container div#SideNav div {
    height: auto;
    margin: 0 0 30px;
  }
  .container .main-container div#SideNav div h3 {
    font-family: Meiryo;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color: #000;
    padding: 30px 0;
  }
  .container .main-container div#SideNav div p {
    margin: 0;
    padding: 0 10% 10px;
  }
  .container .main-container div#SideNav div#sns {
    width: 100%;
    height: auto;
    margin: 0 auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 20%;
  }
  .container .main-container div#SideNav div#sns h2 {
    width: 100%;
    padding: 0 0 30px;
  }
  .container .main-container div#SideNav div#sns a {
    display: block;
    width: 20%;
    height: auto;
  }
  .container .main-container div#SideNav div#sns a img {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .container footer {
    width: 100%;
    height: 70px;
    background: rgba(255, 255, 255, 0.65);
  }
  .container footer p {
    width: 100%;
    font-family: Meiryo;
    font-weight: normal;
    font-size: 14px;
    line-height: 70px;
    text-align: center;
    color: #000;
  }
}
/*--------------------------------------------------
            SP
--------------------------------------------------*/
@media screen and (min-width: 0px) and (max-width: 767px) {
  body h2 {
    font-family: Meiryo;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #fff;
  }
  body p {
    font-family: Meiryo;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    text-align: left;
    color: #fff;
  }
  p#Contact-alt {
    text-align: center;
    margin-bottom: 50px;
  }
  body dd.category {
    width: auto;
    height: 20px;
    padding: 0 5px;
    margin: 5px;
    background: #ffa7a7;
    margin: 0;
  }
  div.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100lvh;
    background: linear-gradient(-135deg, #000080, #9941d8);
    z-index: -1;
  }
  .container {
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    padding: 1px 20px;
    /*============================ #News ============================*/
    /*============================ #achive-news ============================*/
    /*============================ #Single ============================*/
  }
  .container header {
    padding-top: 85px;
  }
  .container header div img {
    display: block;
    width: 100%;
    height: 109px;
    margin: 0 auto;
  }
  .container header nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding-top: 85px;
    background: linear-gradient(-135deg, #000080, #9941d8);
    transform: translateY(-100vh);
    transition: all 0.3s;
  }
  .container header nav.active {
    transform: translateX(0);
  }
  .container header nav ul {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .container header nav ul li {
    width: 100%;
    height: 40px;
  }
  .container header nav ul li a {
    display: block;
    width: 100%;
    height: 40px;
    font-family: Meiryo;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    margin: 0;
  }
  .container header div#Hum-menu {
    position: fixed;
    top: 20px;
    right: calc(10% - 22.5px);
    width: 45px;
    height: 45px;
  }
  .container header div#Hum-menu span {
    position: absolute;
    left: 10px;
    width: 25px;
    height: 4px;
    border-radius: 2px;
    background: #fff;
    transition: all 0.3s;
  }
  .container header div#Hum-menu span:nth-of-type(1) {
    top: 10px;
  }
  .container header div#Hum-menu span:nth-of-type(2) {
    top: 20px;
  }
  .container header div#Hum-menu span:nth-of-type(3) {
    top: 30px;
  }
  .container header div#Hum-menu span#span1.active {
    top: 20px;
    transform: rotate(225deg);
  }
  .container header div#Hum-menu span#span2.active {
    display: none;
  }
  .container header div#Hum-menu span#span3.active {
    top: 20px;
    transform: rotate(-225deg);
  }
  .container div#News {
    width: 100%;
    height: auto;
    margin: 0 auto 0;
    padding: 0 20px;
  }
  .container div#News h2 {
    padding: 30px 0 10px;
  }
  .container div#News div {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .container div#News div dl {
    display: block;
    width: 100%;
    height: auto;
    border-top: 1px solid #707070;
  }
  .container div#News div dl:nth-last-of-type(1) {
    border-bottom: 1px solid #707070;
  }
  .container div#News div dl a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .container div#News div dl a dd.dd1 {
    width: auto;
    font-family: Meiryo;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #fff;
    margin: 5px 0;
  }
  .container div#News div dl a dd.category {
    width: auto;
    margin: 0;
    margin-left: 10px;
  }
  .container div#News div dl a dt {
    width: 100%;
    font-family: Meiryo;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #fff;
    margin: 5px 0;
    padding: 0;
  }
  .container div#achive-news {
    width: 100%;
    height: auto;
    margin: 0 auto;
    /*============================ #Page-controll ============================*/
  }
  .container div#achive-news h2 {
    margin: 20px auto 10px;
  }
  .container div#achive-news p {
    width: 100%;
    height: auto;
    margin: 0 auto 20px;
  }
  .container div#achive-news #all-category {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
  }
  .container div#achive-news #all-category dd {
    display: inline-block;
    margin: 5px;
  }
  .container div#achive-news dl {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    background: rgba(255, 255, 255, 0.65);
  }
  .container div#achive-news dl a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .container div#achive-news dl a img {
    display: block;
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    margin: 0;
  }
  .container div#achive-news dl a div {
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    margin: 30px auto;
  }
  .container div#achive-news dl a div dt {
    width: 100%;
    font-size: 14px;
    margin-bottom: 18px;
  }
  .container div#achive-news dl a div dd.category {
    margin-left: 10px;
  }
  .container div#achive-news dl a div div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: auto;
    margin: 0 0 0 20px;
  }
  .container div#achive-news dl a div div img.time-img {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 7px;
  }
  .container div#achive-news dl a div div dd {
    font-family: Meiryo;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #000;
  }
  .container div#achive-news div#Page-controll {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px auto 50px;
    /*============================ #Prev-page ============================*/
    /*============================ #Next-page ============================*/
  }
  .container div#achive-news div#Page-controll a#Prev-page {
    display: block;
    width: 120px;
    height: 30px;
    font-family: Meiryo;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #000;
    background: #fff;
    border: 1px solid #707070;
  }
  .container div#achive-news div#Page-controll a#Next-page {
    display: block;
    width: 120px;
    height: 30px;
    font-family: Meiryo;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #000;
    background: #fff;
    border: 1px solid #707070;
  }
  .container div#Single {
    width: 100%;
    height: auto;
    background: #fff;
    margin: 0 auto;
    padding: 20px;
    /*============================ .Thumbnail ============================*/
    /*============================ #Single-title ============================*/
    /*============================ #Page-controll ============================*/
  }
  .container div#Single div.Thumbnail {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    margin: 50px auto 15px;
  }
  .container div#Single img {
    display: block;
    width: 100%;
    height: auto;
    margin: 50px auto 15px;
  }
  .container div#Single h1#Single-title {
    font-family: Meiryo;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #000;
    padding: 20px 0 5px;
  }
  .container div#Single dl {
    display: flex;
    flex-wrap: nowrap;
    height: auto;
    padding: 20px 0 5;
  }
  .container div#Single dl dd.category {
    margin-right: 20px;
    font-size: 12px;
  }
  .container div#Single dl dd.dd2 {
    font-size: 12px;
  }
  .container div#Single h2 {
    font-family: Meiryo;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #000;
    padding: 20px 0 5px;
  }
  .container div#Single p {
    font-family: Meiryo;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    text-align: left;
    color: #000;
    padding: 5px 0;
  }
  .container div#Single a {
    display: block;
    font-family: Meiryo;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    text-align: left;
    color: #000;
    padding: 20px 0 5px;
  }
  .container div#Single h3 {
    font-family: Meiryo;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #000;
    padding: 20px 0 5px;
  }
  .container div#Single div#Page-controll {
    width: 240px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 30px 0 50px;
    /*============================ #Prev-page及び#Next-page ============================*/
  }
  .container div#Single div#Page-controll a#Prev-page,
  .container div#Single div#Page-controll a#Next-page {
    display: block;
    width: 100px;
    height: 30px;
    font-family: Meiryo;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #000;
    background: #fff;
    border: 1px solid #707070;
    padding: 0;
  }
  .container .main-container {
    /*============================ #SideNav ============================*/
  }
  .container .main-container main {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    /*============================ #Content ============================*/
  }
  .container .main-container main div#Content {
    width: 100%;
    margin: 0;
    padding: 1px;
    /*============================ #Welcom ============================*/
    /*============================ #Business ============================*/
    /*============================ #Achievement ============================*/
    /*============================ #Activity ============================*/
    /*============================ #Contact ============================*/
  }
  .container .main-container main div#Content div#Welcom {
    width: 100%;
    height: auto;
  }
  .container .main-container main div#Content div#Welcom h2 {
    padding: 40px 0 15px;
  }
  .container .main-container main div#Content div#Welcom div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .container .main-container main div#Content div#Welcom div img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
  }
  .container .main-container main div#Content div#Welcom div p {
    width: 100%;
    padding: 10px 0 10px;
  }
  .container .main-container main div#Content div#Business {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .container .main-container main div#Content div#Business h2 {
    padding: 30px 0 15px;
  }
  .container .main-container main div#Content div#Business ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .container .main-container main div#Content div#Business ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    list-style: none;
    background: #fff;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.16);
    margin: 0 auto 30px;
  }
  .container .main-container main div#Content div#Business ul li img {
    display: block;
    width: 60px;
    height: 60px;
    margin: 10px;
  }
  .container .main-container main div#Content div#Business ul li h3 {
    width: auto;
    text-align: center;
    margin: 30px 10px 20px 20px;
  }
  .container .main-container main div#Content div#Business ul li p {
    width: 60%;
    margin: 0 auto 20px;
    color: #000;
  }
  .container .main-container main div#Content div#Achievement {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
  }
  .container .main-container main div#Content div#Achievement h2 {
    width: 100%;
    margin: 40px auto 15px;
    order: 1;
  }
  .container .main-container main div#Content div#Achievement img {
    display: block;
    width: 100%;
    height: auto;
    order: 2;
  }
  .container .main-container main div#Content div#Achievement img.pc {
    display: none;
  }
  .container .main-container main div#Content div#Achievement div {
    width: 100%;
    height: auto;
    order: 3;
    padding: 10px 0;
  }
  .container .main-container main div#Content div#Achievement div a {
    display: block;
    width: 60px;
    height: 28px;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-family: Meiryo;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #000;
    margin: 10px auto;
  }
  .container .main-container main div#Content div#Activity {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
  }
  .container .main-container main div#Content div#Activity h2 {
    width: 100%;
    margin: 40px auto 10px;
    order: 1;
  }
  .container .main-container main div#Content div#Activity img {
    display: block;
    width: 100%;
    height: auto;
    order: 2;
  }
  .container .main-container main div#Content div#Activity img.pc {
    display: none !important;
  }
  .container .main-container main div#Content div#Activity div {
    width: 100%;
    height: auto;
    order: 3;
    padding: 10px 0;
  }
  .container .main-container main div#Content div#Activity div a {
    display: block;
    width: 60px;
    height: 28px;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-family: Meiryo;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #000;
    margin: 10px auto;
  }
  .container .main-container main div#Content div#Contact {
    width: 100%;
  }
  .container .main-container main div#Content div#Contact h2 {
    margin: 40px auto 10px;
  }
  .container .main-container main div#Content div#Contact p#Contact-alt {
    text-align: left;
    width: 100%;
    margin: 0 auto;
    line-height: 1.6;
    font-size: 12px;
  }
  .container .main-container main div#Content div#Contact form {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .container .main-container main div#Content div#Contact form label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .container .main-container main div#Content div#Contact form label:nth-last-of-type(1) {
    align-items: normal;
    min-height: 80px;
    height: auto;
  }
  .container .main-container main div#Content div#Contact form label input {
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.65);
    border: 1px solid #707070;
  }
  .container .main-container main div#Content div#Contact form label h3 {
    width: 100%;
    padding: 15px 0;
    color: #fff;
    text-align: center;
  }
  .container .main-container main div#Content div#Contact form label h3#Semdtext {
    width: 240px;
    margin: 10px auto;
  }
  .container .main-container main div#Content div#Contact form label textarea {
    display: block;
    width: 100%;
    height: 150px;
    background: rgba(255, 255, 255, 0.65);
    border: 1px solid #707070;
  }
  .container .main-container main div#Content div#Contact form button {
    display: block;
    width: 60px;
    height: 28px;
    background: rgba(255, 255, 255, 0.65);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin: 20px auto;
  }
  .container .main-container div#SideNav {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    height: auto;
    margin: 0 0;
    padding: 0 30px;
    /*============================ #Profile ============================*/
    /*============================ #sns ============================*/
  }
  .container .main-container div#SideNav h2 {
    width: 100%;
    margin: 40px auto 10px;
  }
  .container .main-container div#SideNav img {
    display: block;
    width: 50%;
    height: auto;
    margin: 0 auto;
  }
  .container .main-container div#SideNav div#Profile {
    width: 100%;
  }
  .container .main-container div#SideNav div#Profile dl {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin: auto;
  }
  .container .main-container div#SideNav div#Profile dl dt {
    width: 50px;
    color: #fff;
  }
  .container .main-container div#SideNav div#Profile dl dd {
    font-size: 14px;
    color: #fff;
  }
  .container .main-container div#SideNav div {
    width: 100%;
    height: auto;
    margin: 15px auto;
  }
  .container .main-container div#SideNav div h3 {
    font-family: Meiryo;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
  }
  .container .main-container div#SideNav div p {
    margin: 0 auto;
  }
  .container .main-container div#SideNav div#sns {
    width: 100%;
    height: auto;
    margin: 0 auto 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .container .main-container div#SideNav div#sns h2 {
    width: 100%;
    margin: 20px auto 10px;
  }
  .container .main-container div#SideNav div#sns a {
    display: block;
    width: 30%;
    height: auto;
  }
  .container .main-container div#SideNav div#sns a img {
    width: 100%;
    height: 100%;
  }
  .container footer {
    width: 100%;
    height: 50px;
  }
  .container footer p {
    width: 100%;
    font-family: Meiryo;
    font-weight: normal;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    color: #fff;
  }
}/*# sourceMappingURL=style.css.map */